@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    margin: 0;
    padding: 0;

}


.footerPago {
    display: flex;
    flex-flow: column;
    background-color: #F38375;


}

.pagos {
    color: #FFE3E0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin: 3px;
}

.contacto {
    color: #FFE3E0;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    margin: 3px;
}

.logoTarjetasContainer {
    display: flex;
    justify-content: flex-start;
}

.logoTarjetasContainer img {
    margin: 4px;
    width: 60px;
    height: 40px;
}

.ItemList,
.itemsContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px;
    align-items: flex-end;
    width: 100%;
}
.css-1ri6ub7-MuiPaper-root-MuiCard-root{
    margin-bottom: 25px;
}
.cartContent{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
.formulario { 
    margin: 0 auto;
    margin-top: 60px;
    width: 300px;
    padding: 15px;
    color:black;
    border-radius: 3px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#F38375;
}
.textoForm{
    height: 20px;
    outline: none;
    padding: 8px;
    width: 280px;
    border-radius: 11px;
    border-width: 1px;
    
}
.buttonForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 200px;
    background-color:#F38375;
    border-radius: 11px;
    border-width: 1px;
    height: 30px;
    margin-block-end: 30px;
    margin-block-start: 20px;
}